@media (max-width: 1200px) {
  .menu-btn {
    display: block;
  }
  nav {
    display: none;
  }
}

@media (min-width: 1200px) {
  .form1 ,.form2 {
    flex-direction: row;
  }
  .filter{
      flex-direction: row;

  }
  .drop-menu {
    bottom: 40px !important;
    z-index: -1 !important;
  }
}
