*{
    margin: 0px;
}

.app{
    width: 1200px;
    margin: auto;
    
}

.img-logo{
    float: left;
    height: 60px;
    right:5px;
}

.nav-bar{
    float: right;
    margin: 20px 10px;
    
}

.nav-item{

display: inline;
margin-left:10px;

}

.nav-item-link {
    text-decoration: none;
    color: #F22C2D;
    font-weight: 1000;
    font-size: 20px;
    transition: all .2s;
}

.nav-item-link:hover{
    color: rgb(99, 75, 75);
}

.top-news{
    width: 100%;
    height: 600px;
    margin: 0 5px;
}
.w-re{
    width: calc(calc(100%/3) - 7.5px);
}
.row-h-2-3{
    height: calc(200%/3);
}
.mb-10p{
    margin-bottom: 10px;
}
.mr-10p{
    margin-right: 10px;
}
.col-w-2-3{
    width: calc(calc(200%/3) - 5px);
    
}
.col-w-1-3{
    width: calc(calc(100%/3) - 5px);
    

}
.row-h-1-3{
    height: calc(100%/3);
}

.h-50pr{
    height: calc(50% - 5px);
}
.clear-fix{
    clear: both;
}
.posit-re{
    position: relative;
}
.img-big{
    background: url("../images/slider-1-1200x900.jpg") no-repeat center;
    background-size: cover;
    z-index: 3;
}
.im-1{
    background: url("../images/slider-2-450x600.jpg") no-repeat center;
    background-size: cover;
}

.im-2{
    background: url("../images/slider-3-450x600.jpg") no-repeat center;
    background-size: cover;
}

.im-3{
    background: url("../images/slider-4-450x600.jpg") no-repeat center;
    background-size: cover;
}

.im-4{
    background: url("../images/slider-5-450x600.jpg") no-repeat center;
    background-size: cover;
}

.im-5{
    background: url("../images/slider-6-450x600.jpg") no-repeat center;
    background-size: cover;
}


.im-6{
position: absolute;
width: 100%;
height:100%;
left: 0;
}


.im-7{
    background: url("../images/crypto-news-4-600x450.jpg") no-repeat center;
    background-size: cover;
}


.im-8{
    background: url("../images/crypto-news-5-600x450.jpg") no-repeat center;
    background-size: cover;
}






.w-100pr{
    width: 100%;
}
.h-100pr{
    height: 100%;
}

.caption-info-item  {
    text-decoration: none;
    display: inline;
    margin-right: 10px;
    color: #f2ff00;
    font-size: 18px;
}

.item-caption{
    width: 100%;
    height:calc( 100%/3);
    background-color: rgba(79, 79, 79, 0.7);
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
} 

span{
    font-size: 25px;
}
.caption-title{
    position: absolute;
    bottom: 60%;
    left: 20px;
    color: aliceblue;
}


.float-l{
    float: left;
}
.float-r{
    float: right;
}

.caption-info{
    position: absolute;
    bottom: 20%;
    left: 20px;
    padding: 0;
}

.title{
position: relative;
font-size: 25px;
font-weight: 1000;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
padding-bottom: 20px;
margin-bottom: 20px;
margin-top: 30px;

}
.title::before{
position: absolute;
bottom: 0;
left: 0;
content: '';
background: #F22C2D;
width: 100%;
height: 2px;
z-index: 2;
}

.title::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    background: #e8f22c;
    width: 90px;
    height: 10px;
    z-index: 1;
}


.container{
    width: 100%;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    
}

.news-box{
    margin-right: 10px;
}

.news-100pr{
    width: 100%;
    
}

.news-50pr{
    width: calc(50% - 10px);
}

 .article{
    margin-top: 10px;
 }

 .im-con{
     position: relative;
     width: 100%;
     height: 0;
     padding-bottom: 40%;
 }

 .article-title{
     margin-top: 15px;
     margin-bottom: 15px;
     
 }

.f-20p{
    font-size: 20px;
}
.f-25p{
    font-size: 25px;
}
.f-15p{
    font-size: 15px;
}


 .article-link{
     text-decoration: none;
     color: #000000;
     transition: all .2s;
    
 
 }

 .article-link:hover{
     color: #F22C2D;

 }

 .article-info li{
     display: inline-block;
     margin-right: 10px;
    
 }

 .article-info{
    padding-left: 0;
     color: #3a3a3a;
    
 }

 .selector{
     border: 2px solid black;
     border-radius: 10px;
     height: 0px;
     width: 100%;
     position: relative;
     padding-bottom: 30%;
 }

 .coin-box{
     
     position: absolute;
     height: 0px;
     width: calc(20% - 10px);
     background-color: #e8f22c5d;
     margin: 5px;
     padding-bottom: calc(30% - 10px);
 }
#c1{
    left: 0px;
    background-size: contain;
}

#c2{
    left: 20%;
    background-size: contain;
}

#c3{
    left: 40%;
    background-size: cover;
}

#c4{
    left: 60%;
    background-size: cover;
}
#c5{
    left: 80%;
    background-size: cover;
}

.s-btn{
    display: inline-block;
    font-size: 40px;
    border: 2px solid black;
    border-radius: 10px;
    width: 30%;
    text-align: center;
    transition: all .2s;
}

.s-btns{
   margin-top: 20px;
    margin-right: 40px;
    text-align: center;
}
.s-btn:hover{
    color: #F22C2D;
    border-color: #F22C2D;
    cursor: pointer;
    
}

.coin-info-item{
    text-align: center;
    list-style: none;
    background-color: #e8f22c;
    margin: 5px;
    padding: 10px;
    font-size: 20px;
    width: calc(100% - 20px);
}

.coin-info{
    padding-left: 0px;
    margin-top: 30px;
}
.coin-info-item p{
    display: inline-block;
}

#c6{
    float: left;
    position: relative;
    z-index: 500;
    text-align: center;
    list-style: none;
    background-color: #ffffff;
    margin: 5px;
    height: 0px;
     width: calc(20% - 10px);
     padding-bottom: calc(30% - 10px);
   
}

#c7{
    float: right;
    position: relative;
    z-index: 500;
    text-align: center;
    list-style: none;
    background-color: #ffffff;
    margin: 5px;
    height: 0px;
     width: calc(20% - 10px);
     padding-bottom: calc(30% - 10px);
     
     
   
}

#arrow1, #arrow2{
    float: left;
    position:absolute;
    left: 5%;
    bottom: 20%;
    font-size: 300%;
    transition: all .2s;
    
}
#arrow1:hover, #arrow2:hover{
    color: #F22C2D;
    cursor: pointer;
    
}


.f-item{
    margin-bottom: 10px;
    font-size: 20px;
    display: block;
    width: calc(100% - 15px);
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px 5px;
}

.f-item1{
    margin: auto;
    font-size: 20px;
    display: block;
    
    border: 3px solid red;
    border-radius: 10px;
    padding: 10px;
    transition: all .2s;
}

.f-item1:hover{
    border-color: #000000;
    background-color: #F22C2D;
    cursor: pointer;
}

.footer{
    background-color: #797979;
    height: 220px;
    

}
.m-r{
    margin-right: 20px;
}
.f-row{
    position: relative;
    width: 100%;
    margin-top: 10px;
    margin-left:  5px;
    margin-right:  5px;
}
 .f-col{
      
     
     width: calc(calc(100%/3) - 14px);

     

 }

 .footer-p{
     margin: 10px;
     color: aliceblue;
     font-size: 20px;

 }

 .f-title{
     padding-top: 10px;
     font-size: 25px;
     color: #e8f22c;
     padding-bottom: 20px;
     position: relative;
 }
 .f-title::after{
     position: absolute;
     content: " ";
     width: 100%;
     bottom: 0px;
     left: 0px;
     height: 3px;
     background-color: #ffffff;

 }


 .f-link{

     text-decoration: none;
     color: aliceblue;
     transition: all .2s;
    
 }

 .f-link:hover{
     color: #F22C2D;

 }
 .f-link-con{
     
     margin-top:10px;
 }

.header-menu-burger{
    float: right;
    width: 50px;
    height: 50px;
    display: none;
    margin: 10px;
    background-color:transparent;
    font-size: 20px;
    border-color:red
}
.show{
    display: block !important;
   
    text-align: center;
    
}

 @media (max-width:1199.98px){
     .app{
         width: 992px;
     }
 }

 @media (max-width:991.98px){
    .app{
        width: 768px;
    }
}
@media (max-width:767.98px){
   .sep{
       clear: both;
   }
   .top-menu{
       display: block;
       
   }
    .header-menu-burger{
        display: inline-block;
       
        

    }
    .nav-bar{
        display: none;
        
    }
    .nav-item{
        display: block !important;
        margin-bottom: 10px;
        margin-right: 20px;
        text-align: right;
        border-bottom: 3px solid rgba(79, 79, 79, 0.7);
        padding: 10px;
    }   
    .app{
        width: 576px;
        
    }
    .top-menu{
        height: auto;
    }
    .col-w-1-3{
        margin-bottom: 10px;
        width: 100%;
    }
    .col-w-2-3{
       margin-bottom: 10px;
        width: 100%;
    }
    .w-re{
        width: 100%;
        margin-bottom: 10px;
    }
    .news-50pr{
        width: 100%;
    }
    .footer{
        height: 400px;
    }
}
@media (max-width:575.98px){

    .app{
        width: calc(100% - 30px);
    }
}