* {
  margin: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 2vw;
}

a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

a:hover{
  color: rgb(247, 247, 247);
}

.menu-bar ul li a {
  color: rgb(255, 230, 0);
  transition: color 0.2s ease-in-out;
}


.menu-bar ul li a:hover {
  color: rgb(246, 246, 246);
}

li {
  list-style: none;
}

.top-menu h1 {
  font-size: 1.5em;
  float: left;
  padding: 5px 10px;
  color: aliceblue;
}

.menu-bar {
  text-align: right;
  padding: 15px;
}

.menu-bar ul li {
  display: inline;
  padding: 0 10px;
}

.header {
  background-image: url(image/nasa-Q1p7bh3SHj8-unsplash.jpg);
  background-position: center;
  background-size: cover;
}

.btn {
  border: 0;
  padding: 1vw 2vw;
  border-radius: 40px;
  color: rgb(0, 0, 0);
  font-size: 2vw;
  background-color: rgb(255, 230, 0);
  transition: color, 0.2s ease-in-out, background-color 0.2s ease-in-out;
  cursor: pointer;
}
.btn:hover {
  color: rgb(255, 230, 0);
  background-color: rgb(120, 120, 120);
}

.middle-menu {
  color: aliceblue;
  padding: 3vw 20vw;
  text-align: center;
  
 
}

.middle-menu p {
  color: black;
  padding: 1em;
  background-color: rgba(255, 230, 0, 0.753);
  border-radius: 2em;
  width: 30vw;
  
}

.middle-menu img {
  width: 5vw;
  float: left;
}

#btn1 {
  position: relative;
  width: 10vw;
  transition: width 0.2s ease-in-out;
}

#btn1:hover {
  width: 22vw;
}

#im3 {
  position: relative;
  left: 285px;
  top: -3px;
  transition: left 0.2s ease-in-out;
}

#im2 {
  position: relative;
  left: 125px;
  top: -3px;
  transition: left 0.2s ease-in-out;
}
.middle-menu h2 {
  margin-bottom: 4vw;
  font-size: 3vw;
  border-radius: 40px;
  padding: 3vw;
  background-color: rgba(108, 108, 108, 0.5);
}

.middle-menu p {
  font-size: 2vw;
  margin-bottom: 1vw;
  text-shadow: 0px 0px 20px rgb(246, 246, 246);
}

.btn-big {
  padding: 1vw 2vw;
  font-size: 2vw;
}

.s-header {
  text-align: center;
  padding: 3vw;
  color: aliceblue;
}

.services {
  background-color: rgb(120, 120, 120);
}

.s-boxs {
  text-align: center;
}

.box {
  width: 25%;
  display: inline-block;
  text-align: center;
  padding: 1vw;
  border: 4px solid rgb(255, 230, 0);
  border-radius: 5px;
  margin: 10px;
  margin-bottom: 40px;
  background-color: rgb(169, 169, 169);
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}



.box:hover {
  background-color: aliceblue;
  box-shadow: 0px 0px 20px 4px rgb(246, 246, 246);
}

.about {
  text-align: center;
}

.about-header {
  border-top: 2px solid rgb(255, 230, 0);

  padding: 30px 0px;
}

.about-header h2 {
  color: rgb(120, 120, 120);
}

.about-contents > * {
  float: left;
}

.about-contents::after,
.about-contents::before {
  content: " ";
  display: block;
  clear: both;
}

.profile img {
  width: 6vw;
  height: 6vw;
  float: left;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.profile {
  
  width: 20%;
  margin-bottom: 60px;
  margin-top: 60px;
  padding: 10px 10px;
  margin-left: 2%;
  border-radius: 30px;
  transition: width 0.2s ease-in-out, padding 0.2s ease-in-out,
    background-color 0.2s ease-in-out, margin-top 0.2s ease-in-out,
    margin-bottom 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}
.profile p {
  
  line-height: 20px;
  font-size: 10px;
  transition: font-size 0.2s ease-in-out;
}

.profile h3 {
  margin-top: 15px;
  font-size: 20px;
  transition: font-size 0.2s ease-in-out;
}

.profile:hover {
  padding: 10px 0px;
  width: 22%;
  margin-top: 50px;
  margin-bottom: 45px;
  background-color: rgb(169, 169, 169);
  box-shadow: 0px 0px 10px 5px rgb(169, 169, 169);
}

.profile:hover > .imsize {
  width: 8vw;
  height: 8vw;
}
.profile:hover > p {
  font-size: 15px;
}
.profile:hover > h3 {
  font-size: 20px;
}

.comment {
  background-color: rgb(120, 120, 120);
  text-align: center;
  border-top: 3px solid rgb(255, 230, 0);
}

.comment-head {
  margin: 30px 0px;
}

input[type="text"],
input[type="email"] {
  width: 25%;
  border: 3px solid rgb(255, 230, 0);
  padding: 5px 5px;
  margin-bottom: 10px;
}

textarea {
  border: 3px solid rgb(255, 230, 0);
  width: calc(50% + 20px);
  padding: 5px 5px;
}

.comment-form button {
  margin-bottom: 30px;
  margin-top: 10px;
}
